# system_id|Display Name
nes|Nintendo Entertainment System
gb|Nintendo Game Boy
gbc|Nintendo Game Boy Color
gba|Nintendo Game Boy Advance
mgba|Nintendo Game Boy Advance (mGBA)
sgb|Nintendo Super Game Boy
snes|Super Nintendo Entertainment System
supa|Super Nintendo Entertainment System (Supafaust)
genesis|Sega Genesis
mastersystem|Sega Master System
gamegear|Sega Game Gear
tg16|TurboGrafx-16
psx|Sony PlayStation
ngp|Neo Geo Pocket
ngpc|Neo Geo Pocket Color
virtualboy|Nintendo Virtual Boy
pokemini|Pokemon Mini
pico8|PICO-8
